@using Microsoft.AspNetCore.Identity
@using ReviewApp.Services;
@inject ReviewService reviewService;
@inject AccountService accountService;
@inject ItemService itemService;
@inject UserManager<UserEntity> userManager;
@{
    //Default is logged in user
    var userId = User.FindFirst("Id").Value;

    //Users own page
    bool myAccount = true;

    if (ViewData["UserId"].ToString() != Guid.Empty.ToString())
    {
        userId = ViewData["UserId"].ToString();
        //if user is on its own page
        if (userId != User.FindFirst("Id").Value)
        {
            myAccount = false;
        }
    }

    var user = userManager.Users.First(x => x.Id == userId);

    var reviews = await reviewService.GetUserReviewsAsync(userId);

    //follows
    var follows = await accountService.GetUserFollowsAsync(userId);
}

<h1>@user.UserName</h1>

<a asp-action="UserFollowers" asp-controller="Account" asp-route-userId="@userId">@user.AmountOfFollowers Följare</a>

<a asp-action="UserFollows" asp-controller="Account" asp-route-userId="@userId">@user.AmountOfFollows Följer</a>

@if (!myAccount)
{
    if (await accountService.UserIsFollowingUserAsync(User.FindFirst("Id").Value, userId))
    {
        <a asp-action="UnfollowUser" asp-controller="Account" asp-route-followerId="@User.FindFirst("Id").Value" asp-route-followeeId="@user.Id">Sluta följa</a>
    }
    else
    {
        <a asp-action="FollowUser" asp-controller="Account" asp-route-followerId="@User.FindFirst("Id").Value" asp-route-followeeId="@user.Id">Följ</a>
    }
}

<div>Recensioner:</div>

<div>
    @foreach (var review in reviews)
    {
        var item = await itemService.GetItemAsync(review.ItemId);

        <div class="border">
            <a asp-controller="Item" asp-action="Index" asp-route-itemId="@item.Id">@item.Title</a>
            <h2>@review.Rating</h2>
            <p>@review.Comment</p>

            @if (myAccount)
            {
                <a asp-controller="Review" asp-action="RemoveReview" asp-route-reviewId="@review.Id">Ta bort</a>
            }
        </div>
    }
</div>